@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Bubblegum Sans';
  src: url('./assets/fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Chewy';
  src: url('./assets/fonts/Chewy/Chewy-Regular.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  /* user-select: none; Standard syntax */
}